extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .ids__wrapper.ids__full-width
    section 
      .ids__stack.L
      h1 Simple investing together
    .flex-wrap
      div
        input.L(type='text' placeholder='email@example.com')
      div
        button.L(href="/design-system") Subscribe
    .ids__stack.XS
    p Receive daily market updates and be the first to get access when InvestSky goes live.
    .ids__stack.L
    h2 The future is (y)ours
    h4 Shape the way for next-generation investing in the Middle East.
    .ids__stack.L
    .ids__grid.L.ids__grid-inset-M
      .ids__grid-cell
        .ids__label Mingle
        .ids__stack.XS
        h3 Join the investor community
        p Get social, meet like-minded folks, explore how others invest, follow friends or people you trust, exchange ideas. IN APP?
      .ids__grid-cell
        .ids__label Discover 
        .ids__stack.XS
        h3 Build your knowledge and understand the market
        p Learn the ropes and have your first investing 'aha' moments. We’ve got you covered with our advanced tools to gain insights, understand the 'whys' behind the market moves and make better investing decisions.  
      .ids__grid-cell
        .ids__label Create
        .ids__stack.XS
        h3 Buy your favourite stocks and build your portfolio
        p Buy your favourite stocks, build a portfolio, craft watchlists and play around to make your very own investment story.
    .ids__stack.L
    h2 Why us?
    .ids__grid.L.ids__grid-inset-M
      .ids__grid-cell
        .ids__label img
        .ids__stack.XS
        h3 Benefit from zero commission & hidden fees
        p What you earn remains yours.
      .ids__grid-cell
        .ids__label img 
        .ids__stack.XS
        h3 Start fast
        p Enjoy quick and fully paperless onboarding. Register to start trading within minutes.
      .ids__grid-cell
        .ids__label img
        .ids__stack.XS
        h3 Begin with $1
        p BWith stock slices, you can now start investing with as little as $1.
      .ids__grid-cell
        .ids__label img
        .ids__stack.XS
        h3 Invest in what you believe in 
        p Discover themes - our handpicked stocks grouped by verticals and emerging trends, or manually choose from over 5,000 stocks to build your portfolio.
    .ids__stack.L
    h2 We got your back
    .ids__grid.L.ids__grid-inset-M
      .ids__grid-cell
        .ids__label img
        .ids__stack.XS
        h3 DFCA and CMA registered
        p Being a registered investment advisor, InvestSky must provide you with investment advice that is in your best interest.
      .ids__grid-cell
        .ids__label img 
        .ids__stack.XS
        h3 FINRA & SIPC Insured
        p Your account is protected up to $500,000.
      .ids__grid-cell
        .ids__label img
        .ids__stack.XS
        h3 Bank level security
        p With stock slices, you can now start investing with as little as $1.
        