footer
  .ids__stack.L
  //.tmp-header
    
    a(href="https://intuition.team/") Интуиция
    | © Копирайт и все такое 
  .ids__stack.XS

  .tmp-header
    p © Investsky 2021

    div
      li
        a(href="https://intuition.team/") Terms and conditions
      li  
        a(href="https://intuition.team/") Community guideness
      li  
        a(href="https://intuition.team/") Press
      li  
        a(href="https://intuition.team/") Contact us 
  .ids__stack.XS